body {
  font-family: sans-serif;
  background-color: #FBFDFD;
  margin: 0;
}

p#buildlink {
  font-size: larger;
  padding-top: 20px;
}

main { margin: 1em; }

div#main,
p#buildlink,
.center {
  margin: 0 auto;
  display: table;
}

.ad_center {
  margin: 0.5em auto;
  text-align: center;
}

ul { text-align: left; }

.indented { margin-left: 5%; }
.do_not_break { break-inside: avoid; }
.breaker { clear: both; }
hr.narrow { width: 60%; }

dl dt {
  font-weight: bold;
  color: #036;
}

/* cellspacing=0 for all tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
  padding: 2px;
}

footer,
#footer-content {
  background-color: #EEF8FF;
  text-align: center;
  clear: both;
}

header {
  border-bottom: #000 1px dotted;
}

header a { color: white; }

header td {
  padding: 0.3em 1em;
}

header td.active_tab {
  background-color: #ADF;
  color: #036;
  border-bottom: #069 1px dotted;
}
header td.leftmost { padding-left: 0.2em; }
header td.active_tab a { color: #036; }

/* For gallery, manual: */
textarea {
  font-family: sans-serif;
  font-size: 12px;
}

img.figure_right,
table.float_right,
div.float_right {
  float: right;
  margin-left: 4px;
  margin-bottom: 4px;
}

img.figure_left {
  float: left;
  margin-right: 4px;
}

.dotted_border { border: 1px dotted #069; }

.center_content { text-align: center; }
.align_right { text-align: right; }
.no_wrap { white-space: nowrap; }

#news_main { margin: 2em; }

#news_main ul li,
p.top_padded {
  margin-top: 0.5em;
}

#news_main h2 {
  padding-top: 1em;
  border-top: 4px double #069;
  clear: both;
}

#news_main h3 {
  padding-top: 0.8em;
  color: #069;
  border-top: 1px dotted #069;
  clear: both;
}

#news_main figure {
  margin: 0 1em 0.2em;
}

/* Sometimes a figure is vertically included rather than set to the side: */
#news_main figure.no_indent {
  margin: 0 0 0.2em;
}

#news_main figure img {
  padding: 0.1em;
  margin: 0.1em;
  border: 1px dotted #069;
}

#news_main figure img.no_border {
  border: none;
}

#news_main figcaption {
  font-size: smaller;
}

#news_main hr,
hr.ad_divider {
  border-top: 4px double #069;
}

/* Present themes with different color counts.
   Each color swatch uses one non-breaking space (0.3em) plus padding.
   12 colors: 12em = (12 * 0.3em) + (12 * .7em)  */
.color_sample_12 {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

/* 10 colors: 12em = (10 * 0.3em) + (10 * .9em)  */
.color_sample_10 {
  padding-left: 0.45em;
  padding-right: 0.45em;
}

/*  9 colors: 12em = (9 * 0.3em) + (9 * 1.0333em)  */
.color_sample_9 {
  padding-left: 0.517em;
  padding-right: 0.517em;
}

/*  8 colors: 12em = (8 * 0.3em) + (8 * 1.2em)
    0.6em actually made this row appear too wide by a teeny amount,
    so we use 0.599em instead. :-| */
.color_sample_8 {
  padding-left: 0.599em;
  padding-right: 0.599em;
}

legend {
  font-weight: bold;
  color: black;
  background-color: #eef8ff;
  border: 1px solid #9ac;
  padding: 0.1em 0.4em;
  margin-bottom: 0;
}

fieldset {
  border: 1px solid #9ac;
}

.fieldset_contents {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0;
  padding-top: 0;
}
