body {
  font-family: sans-serif;
  background-color: #FBFDFD;
  margin: 0;
}

p#buildlink {
  font-size: larger;
  padding-top: 20px;
}

main { margin: 1em; }

div#main,
p#buildlink,
.center {
  margin: 0 auto;
  display: table;
}

ul { text-align: left; }

.indented { margin-left: 5%; }
.do_not_break { break-inside: avoid; }
.breaker { clear: both; }
hr.narrow { width: 60%; }

dl dt {
  font-weight: bold;
  color: #036;
}

/* cellspacing=0 for all tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
  padding: 2px;
}

footer,
#footer-content {
  background-color: #EEF8FF;
  text-align: center;
}

header {
  border-bottom: #000 1px dotted;
}

header a { color: white; }

header td {
  padding: 0.3em 1em;
}

header td.active_tab {
  background-color: #ADF;
  color: #036;
  border-bottom: #069 1px dotted;
}
header td.leftmost { padding-left: 0.2em; }
header td.active_tab a { color: #036; }

/* For gallery, manual: */
textarea {
  font-family: sans-serif;
  font-size: 12px;
}

img.figure_right,
table.float_right,
div.float_right {
  float: right;
  margin-left: 4px;
  margin-bottom: 4px;
}

img.figure_left {
  float: left;
  margin-right: 4px;
}

.dotted_border { border: 1px dotted #069; }

.center_content { text-align: center; }
.align_right { text-align: right; }
.no_wrap { white-space: nowrap; }

#news_main { margin: 2em; }

#news_main ul li,
p.top_padded {
  margin-top: 0.5em;
}

#news_main h2 {
  padding-top: 1em;
  border-top: 4px double #069;
  clear: both;
}

#news_main h3 {
  padding-top: 0.8em;
  color: #069;
  border-top: 1px dotted #069;
  clear: both;
}

#news_main figure {
  margin: 0 1em 0.2em;
}

#news_main figure img {
  padding: 0.1em;
  margin: 0.1em;
}

#news_main figcaption {
  font-size: smaller;
}
