body { 
    font-family: sans-serif;
    background-color: #FBFDFD;
    margin: 0px;
}

p#buildlink { font-size: larger; padding-top: 20px;}

div#main, p#buildlink, .center {
  margin: 0px auto;
  display:table;
}

/* cellspacing=0 for all tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; padding: 2px;}

#nav {
    font-size: 12px;
}
#footer-content {
    font-size: 14px;
    text-align: center;
}
header {
    background-color: #006699;
    color: white;
    padding: 3px 5px;
    border-bottom: #000 1px dotted;
}
header a { color: white; }
header td {
    padding: 0.3em 1em;
}
header td.active_tab { 
    background-color: #AADDFF;
    color: #036;
    border-bottom: #069 1px dotted;
}
header td.leftmost { padding-left: 0.2em; }
header td.active_tab a { color: #036; }

/* For gallery, manual: */
textarea { font-family: sans-serif; font-size: 12px; }

img.figure_right, table.float_right {
    float: right;
    margin-left: 4px;
}

img.figure_left {
    float: left;
    margin-right: 4px;
}

.center_content { text-align: center; }
.align_right { text-align: right; }
.no_wrap { white-space: nowrap; }
