footer nav,
header nav {
  background-color: #035;
  color: white;
  padding: 3px 5px;
  font-size: initial;
}

.manual_title {
  margin-top: 0;
  color: #047;
}

.skm_logo_small {
  vertical-align: middle;
  padding-bottom: 3px;
}

.main_nav_behavior {
  width: auto;
  background: #035;

  /* Optional */
  position: sticky;
  top: 0;
}

.main_nav_behavior label,
.main_nav_checkbox,
.side_nav_behavior label,
.side_nav_checkbox { display: none; }

/* Horizontal Menu Items */
.main_nav_items,
.main_nav_items ul {
  display: flex;
  width: 100%;
  align-items: center; /* works like vertical-align: middle, but for flex. */
}

.main_nav_items ul {
  list-style-type: none;
  padding: 0.1em 0.5em;
  margin: 0;
}

.main_nav_items ul li {
  text-align: center;
  padding-right: 2.5em;
}

.main_nav_items li a {
  /*  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.main_nav_items a:hover {
  background-color: #069;
}

.sidenavlinks {
  float: left;
  background-color: #F4F2E9;
  border-right: 4px solid black;
  border-left: 1px dotted black;
  border-top: 1px dotted black;
  border-bottom: 1px solid #999;
  padding-left: 5px;
  margin-right: 20px;
}

.sidenavlinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5em;
}

.sidenavlinks ul li {
  margin-top: 0.5em;
  font-size: medium;
}

.sidenavlinks h2 {
  font-size: medium;
  margin-bottom: 0.5em;
  font-style: italic;
  padding-left: 0.4em;
}

.sidenavlinks h3 {
  font-size: medium;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.sidenavlinks section {
  padding: 6px;
  border-top: 1px dotted gray;
}

@media screen and (max-width: 850px) {
  main,
  #manual_main {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  .main_nav_behavior label {
    display: inline-block;
    color: white;
    background: #035;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  nav.side_nav_behavior {
    float: none;
    width: 100%;
  }

  .side_nav_behavior label {
    display: inline-block;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  .main_nav_items ul {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }

  .main_nav_items ul li {
    width: auto;
    border-top: 1px solid #069;
    text-align: left;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .main_nav_items,
  .side_nav_contents { display: none; }

  .main_nav_behavior input:checked ~ .main_nav_items,
  .side_nav_behavior input:checked ~ .side_nav_contents {
    display: block;
  }

  .side_nav_behavior {
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: 2px solid black;
    width: auto;
  }
  .narrowlabel { display: inherit; }
  .widelabel { display: none; }
  .manual_title { margin-top: 1em; }
}
